In [1]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [2]:
to_be_clean = pd.read_excel('dockingResults_ROR_gamma_SYBA_selected.xlsx')

In [3]:
to_be_clean.head()

,Unnamed: 0,smiles,7npc,7np5,7kxd
0,NaN,CCC(=O)NCC1=CC=NN1S=2C=C(C3=CC=CC=C3F)NC=2C,"(-7.9, [-1.5603076923076924, -32.6824615384615...","(-8.2, [-1.6278846153846152, 32.52484615384615...","(-8.6, [-3.5059615384615386, 26.17238461538462..."
1,NaN,CCC(=O)NCC1C(C2=N[NH1]C=C2C(C)(C)O)N=C1N,"(-6.5, [6.566520000000001, -50.055200000000006...","(-6.9, [0.018399999999999944, 33.2057999999999...","(-6.7, [-1.2255999999999998, 25.08835999999999..."
2,NaN,CCC(=O)NCC1=CC=NN1S=2C=C(C3=CC=CC=C3F)[NH1]N=2,"(-8.6, [-6.91092, -35.7778, -5.566839999999998])","(-8.1, [-6.647, 35.882400000000004, 5.65964000...","(-8.7, [-3.5684800000000005, 25.92992000000000..."
3,NaN,CC1=CC=CC(C(=O)CC2=NC(Cl)=CC3=CC=CN=C23)=C1,"(-9.2, [-7.255761904761905, -35.67042857142856...","(-10.9, [-1.9836190476190476, 44.1005714285714...","(-8.7, [-4.162761904761905, 26.858333333333338..."
4,NaN,CC1=CC=CC(C(=O)NC2=CC(C3=CC=CC=C3)=NO2)=C1,"(-8.8, [-2.549909090909092, -33.33081818181818...","(-9.0, [-6.642318181818182, 36.212090909090904...","(-9.2, [-2.9607272727272727, 26.67727272727272..."

In [4]:
to_be_clean['7npc'][0][1:5]

'-7.9'

In [5]:
new_dataframe = pd.DataFrame(to_be_clean['smiles'])

In [6]:
new_dataframe['7npc'] = [to_be_clean['7npc'][i][1:5] for i in range(len(to_be_clean['7npc']))]
new_dataframe['7np5'] = [to_be_clean['7np5'][i][1:5] for i in range(len(to_be_clean['7np5']))]
new_dataframe['7kxd'] = [to_be_clean['7kxd'][i][1:5] for i in range(len(to_be_clean['7kxd']))]

In [7]:
new_dataframe.head()

                                           smiles  7npc  7np5  7kxd
0     CCC(=O)NCC1=CC=NN1S=2C=C(C3=CC=CC=C3F)NC=2C  -7.9  -8.2  -8.6
1        CCC(=O)NCC1C(C2=N[NH1]C=C2C(C)(C)O)N=C1N  -6.5  -6.9  -6.7
2  CCC(=O)NCC1=CC=NN1S=2C=C(C3=CC=CC=C3F)[NH1]N=2  -8.6  -8.1  -8.7
3     CC1=CC=CC(C(=O)CC2=NC(Cl)=CC3=CC=CN=C23)=C1  -9.2  -10.  -8.7
4      CC1=CC=CC(C(=O)NC2=CC(C3=CC=CC=C3)=NO2)=C1  -8.8  -9.0  -9.2

In [8]:
new_dataframe.to_excel('dockingResults_ROR_gamma_SYBA_CLEAN.xlsx')